.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  isolation: isolate;
  min-height: 100vh;
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  width: 512px;
  padding: 0 64px;
  top: 128px;
  left: 50%;
  right: 0;
  bottom: 16px;
}

.controlColumn {
  max-width: 50%;
}

@media (max-width: 800px) {

  .characterEditor {
    padding-top: 32px;
  }

  .header {
    margin-bottom: 25vh;
    max-width: 50%;
    isolation: isolate;
  }

  .characterWrapper {
    left: 25%;
  }

  .controlColumn {
    max-width: unset;
    width: 100%;
    isolation: isolate;
    display: flex;
    gap: 15px;
    overflow-x: auto;
  }

}